APPLabo/WebContent/wsdl/selectionWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="resultat">
    <complexType/>
   </element>
   <element name="resultatResponse">
    <complexType>
     <sequence>
      <element name="resultatReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="resultatResponse">

      <wsdl:part element="impl:resultatResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="resultatRequest">

      <wsdl:part element="impl:resultat" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="selectionWS">

      <wsdl:operation name="resultat">

         <wsdl:input message="impl:resultatRequest" name="resultatRequest">

       </wsdl:input>

         <wsdl:output message="impl:resultatResponse" name="resultatResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="selectionWSSoapBinding" type="impl:selectionWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="resultat">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="resultatRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="resultatResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="selectionWSService">

      <wsdl:port binding="impl:selectionWSSoapBinding" name="selectionWS">

         <wsdlsoap:address location="http://localhost:8080/APPLabo/services/selectionWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
